@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic|Oswald:400,300,700);
body {
  font-family: "Lora", "serif";
  min-height: 100%;
  position: relative; }

a {
  color: black;
  text-decoration: underline; }
  a:hover {
    color: #666666; }

h1 {
  font-size: 26px; }

header {
  background-color: #0d58a6;
  height: auto;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.7);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.7); }
  header .button-group {
    margin-top: 25px; }
  header a {
    font-family: "Oswald", "sans-serif";
    padding: 10px 0;
    color: white;
    text-decoration: none;
    font-size: 40px;
    line-height: 50px; }
    header a:hover {
      color: white; }

#main-content {
  min-height: 55%; }

.content {
  border-radius: 6px;
  padding: 8px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 0px 0px 5px 3px rgba(50, 50, 50, 0.7);
  box-shadow: 0px 0px 5px 3px rgba(50, 50, 50, 0.7); }

ul.navigation {
  list-style: none;
  margin: 0 0 10px 0; }
  ul.navigation li {
    border-bottom: 1px solid gray; }
    ul.navigation li a {
      text-decoration: none; }
    ul.navigation li:last-child {
      border-bottom: none; }

footer {
  background-color: #0d58a6;
  height: 200px;
  margin-top: 20px;
  -webkit-box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.7);
  box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.7); }
  footer .columns {
    text-align: center;
    margin-top: 120px;
    color: white;
    font-size: 30px; }
    footer .columns a {
      color: white;
      font-size: 20px;
      text-decoration: none; }
      footer .columns a:hover {
        text-decoration: underline; }

@media (max-width: 640px) {
  header {
    height: auto; }
    header img {
      margin: 10px auto 0;
      display: block; }
    header .small-12 {
      padding: 0 auto;
      text-align: center; }
      header .small-12 .button-group {
        margin-top: 10px;
        display: inline-block; }
        header .small-12 .button-group a {
          margin-bottom: 10px; } }
